.topThrees {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
}

.topContainer {
    display: flex;
    justify-content: center;
}

.tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tracks {
    padding-top: 12px;
}

@media screen and (max-width: 600px) {
    .topThrees {
        display: flex;
        flex-direction: column;
        padding-bottom: 6px;
        width: 80vw;
    }
}
